<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portalog.css">
    <script src="/js/portalog/portals-controller.js" defer></script>
</head>

<body>
    <div class="shell">
        <div class="header">
            <img src="/img/portalog-logo.png">
        </div>
        <div class="main">
            <h1>A demo of using Portals as an embed in an article</h1>
            <div class="writer">
                <div class="writer-photo">
                    <img src="/img/profile.png">
                </div>
                <div class="writer-details">
                    <div class="basic">
                        <div class="name">Yusuke Utsunmiya</div>
                        <div id="follow" followed="false">Follow</div>
                    </div>
                    <div class="date">
                        March 27, 2019
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div id="fallback-message">Ooops, your browser doesn't support Portals. This is an iframe fallback. Try this demo in a browser supporting <a href="https://wicg.github.io/portals/">HTMLPortalElement.</a></div>
            <div class="placeholder">
                <div id="embed"></div>
            </div>  
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</body>

</html>